.center {
  display: flex;
  justify-content: center;
}
.block {
  box-shadow: #c9c9c9 0px 0px 1px 1px;
  margin: 59px 73px 54px 68px;
  max-width: 1003px;
}
.kryg {
  position: absolute;
  left: -20px;
}
header p {
  font-size: 36px;
  font-weight: 700;
}
.logo {
  display: flex;
  align-items: center;
  border-top: #f2ac04 solid 8px;
}
.logo img {
  width: 90px;
  height: 90px;
}
.logo hr {
  height: 52px;
  margin-left: 40px;
  margin-right: 46px;
}
.logo__p {
  font-size: 20px;
  font-weight: lighter;
  color: #f2ac04;
}
.logo__p span {
  font-size: 14px;
  font-weight: normal;
  color: #929292;
}
.panel {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #a6a6a6;
}
.panel__p {
  font-size: 18px;
  margin-left: 77px;
}
.panel__p--active {
  margin-left: 0px;
}
.container {
  margin: 0px 35px 19px 40px;
}
.caption {
  font-size: 12px;
  color: #555656;
}
.pictures__img1 {
  box-shadow: #b0b0b0 0px 0px 1px 3px;
  margin-right: 28px;
}
.pictures__img1 p {
  text-align: center;
  font-size: 18px;
}
.pictures {
  display: flex;
  margin-bottom: 40px;
}
.pictures__preview p span {
  font-size: 40px;
  font-weight: 700;
}
.pictures__preview {
  position: absolute;
  font-size: 35px;
  color: white;
  top: 311px;
}
.pictures__img2 {
  max-width: 450px;
}
.more {
  text-align: right;
}
.more a {
  background-color: #2b2b29;
  text-decoration: none;
  color: white;
  padding: 3px 9px 3px 7px;
}
i {
  border: solid #2b2b29;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.more p {
  display: inline-block;
}
h3 {
  font-size: 18px;
  color: #555656;
}
.info {
  display: flex;
}
.info__weekday {
  margin: 0;
  text-align: center;
  font-size: 10px;
  color: #777777;
}
.info__string {
  display: flex;
  align-items: center;
  border-bottom: #939393 dashed 1px;
}
.info__post .info__string hr {
  height: 31px;
  margin: 0px 11px 0px 10px;
}
.info__weekday span {
  font-size: 18px;
  color: #f2ac04;
}
.info__weekday--2 {
  color: #565656;
}
.info__weekday--2 span {
  color: #939393;
  font-size: 12px;
}
.info hr {
  margin: 0px 0px 0px 8px;
}
.info__post--active {
  color: #494949;
  margin-left: 36px;
  margin-right: 28px;
}
.info__post--contact h3 {
  font-size: 22px;
}
.info__post--contact {
  margin-left: 36px;
}
.info__number {
  display: flex;
  align-items: center;
  border-bottom: #999999 1px dashed;
  padding-bottom: 7px;
}
.info__number p {
  margin: 0px 180px 0px 28px;
  color: #757575;
  font-weight: 700;
}
.info__number--active {
  border-bottom: #999999 1px dashed;
  display: flex;
  align-items: center;
}
.info__number--active p {
  margin-left: 20px;
  color: #757575;
  font-weight: 700;
}
.info__number--email {
  display: flex;
  align-items: center;
  border-bottom: #999999 1px dashed;
}
.info__number--email p {
  margin-left: 20px;
  color: #757575;
}
.info__number--adres {
  display: flex;
  align-items: flex-start;
}
.info__number--adres p {
  color: #757575;
  margin-left: 19px;
}
